language: python
dist: focal
python:
  - "3.9-dev"
  - "3.8"
  - "3.7"
  - "3.6"
  - "pypy3"
branches:
  only:
    - develop
install:
  - "pip install pybtex"  # for dev version: git+https://bitbucket.org/pybtex-devs/pybtex
  - "pip install codecov pytest pytest-cov" # required for tests
  - "pip install ."
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.8' ]]; then pip install check-manifest flake8; fi"
script:
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.8' ]]; then check-manifest; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.8' ]]; then flake8; fi"
  - "pushd doc"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.8' ]]; then make html; fi"
  - "popd"
  - "pushd test"
  - "pytest --cov=sphinxcontrib.bibtex --cov=natbib"
  - "popd"
after_success:
  - "pushd test"
  - "codecov"
  - "popd"
