language: python
python:
  - "3.3"
  - "2.7"
  - "2.6"
  - "pypy"
matrix:
  allow_failures:
    - python: "2.6" # argparse 1.2 cannot be installed due to travis bug?
branches:
  only:
    - develop
install:
  - "pip install Tinkerer" # Tinkerer is required for tests
  - "pip install -r requirements.txt"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pip install coveralls check-manifest flake8; fi"
  - "python setup.py develop"
script:
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then check-manifest; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then flake8; fi"
  - "pushd doc"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then make html; fi"
  - "popd"
  - "pushd test"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then coverage run --source=sphinxcontrib.bibtex `type -p nosetests`; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION != '2.7' ]]; then nosetests; fi"
  - "popd"
after_success:
  - "pushd test"
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then coveralls; fi"
  - "popd"
