language: python
dist: focal
sudo: false
python:
  - "3.9"
  - "3.8"
  - "3.7"
  - "3.6"
  - "pypy3"
branches:
  only:
    - develop
install:
  # need development version of pybtex for latest bug fix
  # can remove next line once pybtex version > 0.22.2 is released
  - "pip install git+https://bitbucket.org/pybtex-devs/pybtex"
  - "pip install codecov sphinx-testing" # required for tests
  - "pip install ."
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then pip install check-manifest flake8; fi"
script:
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then check-manifest; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then flake8; fi"
  - "pushd doc"
  - "if [[ $TRAVIS_PYTHON_VERSION == '3.7' ]]; then make html; fi"
  - "popd"
  - "pushd test"
  - "nosetests --with-coverage --cover-package=sphinxcontrib.bibtex,sphinxcontrib.bibtex2"
  - "popd"
after_success:
  - "pushd test"
  - "codecov"
  - "popd"
