include VERSION
include README.rst
include INSTALL.rst
include CHANGELOG.rst
include LICENSE.rst
include requirements.txt
recursive-include doc *
recursive-include test *
global-exclude *.pyc
exclude .gitignore
exclude .travis.yml
exclude release_checklist.txt
exclude tox.ini
exclude shell.nix
prune doc/_build

